body{
    font-family:"Roboto", Arial, sans-serif;
    text-align:center;
    margin-top:50px;
    color: #ffffff;
    background: #000000;
}
table{
    border-collapse:collapse;
    width:150px;
    margin:0 auto;

}
td{
    width:50px;
    height:50px;
    border:1px solid #ffffff;
    cursor:pointer;

}

.turn {
    margin-bottom:10px;
}
*:before {
     font-size:3em;

 }
.cross:before {
     content:"X";
     color: #3426ff;
 }
.circle:before {
     content:"O";
     color: #008d00;
 }